@media (max-width:1150px) {
  .header {
    &__social {
      display: none;
    }
    &__nav {
      padding-right: 37px;
    }
    &__btn {
      display: block;
    }
    &__search-form {
      display: flex;
    }
  }
}

@media (max-width:1024px) {
  .header {

    &__logo {
      width: 166px;
    }
  }

  .hero {
    padding-top: 34px;

    &__cont {
      bottom: 30px;
      left: 30px;
    }

    &__title {
      font-size: 34px;
    }
    &__semi-title {
      margin-top: 1px;
    }
    &__descr {
      margin-bottom: 8px;
    }
  }

  .about {
    padding-bottom: 60px;

    &__form {
      flex-direction: column;
    }

    &__img {
      height: calc(100% - 200px);
      margin-bottom: 24px;
    }

    &__descr {
      padding-right: 5px;
    }

    &__email {
      max-width: 342px;
    }

    &__btn {
      width: 126px;
      padding-left: 20px;
      margin-top: 20px;
    }

  }

  .proj {

    &__ellipsis {
      display: inline;
      white-space: inherit;
    }

    &__ellips {
      @include ellipsis;
      width: 153px;
    }

    &__descr {
      margin-bottom: 16px;
    }

    &__descr-mt {
      margin-top: 12px;
    }
    &__wrap {
      min-height: 150px;
    }
    &__li-four, &__li-five {
      padding-top: 30px;
      padding-bottom: 36px;
    }
    &__li-five {
      padding-bottom: 30px;
    }
    &__li-seven, &__li-five {
      margin-top: -4px;
    }
    &__btn-five {
      margin-top: 7px;
    }
  }

  .cont {
    padding-top: 67px;
    &__map-left {
      padding: 25px 130px 21px 30px;
    }
    &__map-tel {
      color: $orangeColor;
      background-image: url(../images/tel-orange.svg);
    }
  }

  .footer {
    &__logo {
      width: 166px;
      padding-top: 4px;
    }
    &__left {
      width: 39%;
    }
    &__middle {
      width: 44%;
    }
  }
}
